@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-image: url(./assets/pattern.png);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body > div {
  width: 1120px;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
